nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

nav a {
    text-decoration: none;
}

/* nav button {
    background-color: rebeccapurple;
    color: white;
    padding: 0.5rem 1rem;
} */

.active {
    background-color: red;
}

